<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PMIS Risk Assessment Due</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="700px"
                    style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#22223B"
                            style="color: #ffffff; font-size: 20px; font-weight: bold; font-family: Arial, sans-serif;padding: 10px;">
                            $title
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1" style="padding: 5px ;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td valign="middle">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                        <thead>

                                                            <tr align="center" style="position: relative;">
															
																<td
                                                                    style="padding:10px 0;color: #eeeeee; font-family: Arial, sans-serif; font-size: 13px;background-color:#4A4E69;position:sticky;top: 0;">
                                                                    <b>HOD</b></td>
                                                                <td
                                                                    style="padding:10px 0;color: #eeeeee; font-family: Arial, sans-serif; font-size: 13px;background-color:#4A4E69;position:sticky;top: 0;">
                                                                    <b>Work</b> </td>
                                                                <td
                                                                    style="padding:10px 0;color: #eeeeee; font-family: Arial, sans-serif; font-size: 13px;background-color:#4A4E69;position:sticky;top: 0;">
                                                                    <b>Alert Level</b> </td>
                                                                                                                              
                                                                <td
                                                                    style="padding:10px 0;color: #eeeeee; font-family: Arial, sans-serif; font-size: 13px;background-color:#4A4E69;position:sticky;top: 0;">
                                                                    <b>Reason for alert</b></td>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
															#foreach ($x in $alerts)
                                                            
                                                            <tr>
																<td align="center" width="100px"
                                                                    style="padding: 10px;font-family: Arial, sans-serif; font-size: 12px; font-weight: 500; border:1px solid #A0A3BB; width: 170px; min-width: 170px; max-width: 170px; word-wrap:break-word;">
                                                                    #if($x.hod && !$x.hod.empty) 
                                                                    	$x.hod
                                                                    #end
                                                                </td>
																<td align="left" width="100px"
                                                                    style="padding: 10px;font-family: Arial, sans-serif; font-size: 12px; font-weight: 500; border:1px solid #A0A3BB; width: 170px; min-width: 170px; max-width: 170px; word-wrap:break-word;">
                                                                    #if($x.sub_work && !$x.sub_work.empty) 
                                                                    	$x.sub_work
                                                                    #end
                                                                </td>
                                                                <td align="center" width="100px"
                                                                    style="padding: 10px;font-family: Arial, sans-serif; font-size: 12px; font-weight: 500; border:1px solid #A0A3BB; width: 87px; min-width: 87px; max-width: 87px; word-wrap:break-word;">
                                                                    #if($x.alert_level && !$x.alert_level.empty) 
                                                                    	$x.alert_level
                                                                    #end
                                                                </td>                                                                
                                                                <td align="left" width="100px"
                                                                    style="padding: 10px;font-family: Arial, sans-serif; font-size: 12px; font-weight: 500; border:1px solid #A0A3BB; width: 170px; min-width: 170px; max-width: 170px; word-wrap:break-word;">
                                                                    #if($x.alert_value && !$x.alert_value.empty) 
                                                                    	$x.alert_value
                                                                    #end
                                                                </td>
                                                            </tr>
															#end
                                                            
                                                        </tbody>
                                                        <tr>
                                                            <td
                                                                style="padding: 25px 0 0 0; color: #22223B; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#E3F2FD" style="padding: 4px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style=" font-family: Arial, sans-serif; font-size: 12px;" align="center">
                                        &copy; $current_year @ mrvc.indianrailways.gov.in | Designed & Developed by <a
                                            href="https://www.synergizglobal.com"><img src="https://syntrack-dev.s3.ap-south-1.amazonaws.com/SynergizGlobal/img/synergiz.png" alt="SynergizGlobal"
                                                style=" width: 100px;  height: 25px; vertical-align: bottom;"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>